In [3]:
import pandas as pd
import numpy as np

In [ ]:
# dictionary
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}

In [18]:
# convert the dictionary into dataframe
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Stream', 'Percentage'])
print(df)

for ind in df.index:
    print(df['Name'][ind], df['Stream'][ind])

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70
Ankit Math
Amit Commerce
Aishwarya Arts
Priyanka Biology

In [7]:
v = '[30,50]'
type(v)

if v.get(0) == '[':
    print(True)

AttributeError: 'str' object has no attribute 'get'

In [3]:
multiIndex = pd.MultiIndex.from_arrays([[5, 10], [15, 20], [25, 30], [35, 40]],
   names=['a', 'b', 'c', 'd'])

In [7]:
multiIndex.get_level_values(0)

Int64Index([5, 10], dtype='int64', name='a')

In [1]:
df = pd.DataFrame(multiIndex)
df

NameError: name 'pd' is not defined

In [3]:
from sklearn import svm

In [5]:
x = [
    [-3, -1],
    [0, -2],
    [-2.5, 2],
    [-1, -1],
    [3, .5],
    [.5, 3],
    [-3, -3]
]

In [7]:
y = [0, 1, 0, 1, 1, 0, 1]

In [8]:
clf = svm.SVC(kernel = 'linear').fit(x, y)

In [11]:
clf.predict([[2,4]])

array([0])

In [4]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing()

df = pd.DataFrame(data = np.c_[data['data'], data['target']],
                    columns=data['feature_names'] + ['target'])

In [5]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [7]:
df['MedInc'].describe()

count    20640.000000
mean         3.870671
std          1.899822
min          0.499900
25%          2.563400
50%          3.534800
75%          4.743250
max         15.000100
Name: MedInc, dtype: float64

In [8]:
df['AveOccup'].describe()

count    20640.000000
mean         3.070655
std         10.386050
min          0.692308
25%          2.429741
50%          2.818116
75%          3.282261
max       1243.333333
Name: AveOccup, dtype: float64